* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(235, 116, 232);
  background: linear-gradient(
    207deg,
    rgba(235, 116, 232, 1) 0%,
    rgba(80, 61, 244, 1) 100%
  );
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

h1,
p {
  margin-bottom: 1rem;
}

p {
  font-size: 3rem;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
}
input {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  border: 0px;
  transition: all 0.1s ease;
}
input:hover {
  transform: scale(1.1);
}
